<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GWSearchPortal</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.gw.searchPortal.Controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.gw.searchPortal.Controller.RegisterServlet</servlet-class>
	</servlet>
	 <servlet>
		<description></description>
		<display-name>GWSearchAPIServlet</display-name>
		<servlet-name>GWSearchAPIServlet</servlet-name>
		<servlet-class>com.gw.searchPortal.Controller.GWSearchAPIServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AccountSearchServlet</display-name>
		<servlet-name>AccountSearchServlet</servlet-name>
		<servlet-class>com.gw.searchPortal.Controller.AccountSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PolicySearchServlet</display-name>
		<servlet-name>PolicySearchServlet</servlet-name>
		<servlet-class>com.gw.searchPortal.Controller.PolicySearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ContactInfoServlet</display-name>
		<servlet-name>ContactInfoServlet</servlet-name>
		<servlet-class>com.gw.searchPortal.Controller.ContactInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AccountDataSearchDeciderServlet</display-name>
		<servlet-name>AccountDataSearchDeciderServlet</servlet-name>
		<servlet-class>com.gw.searchPortal.Controller.AccountDataSearchDeciderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GWSearchAPIServlet</servlet-name>
		<url-pattern>/GWSearchAPIServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountSearchServlet</servlet-name>
		<url-pattern>/AccountSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PolicySearchServlet</servlet-name>
		<url-pattern>/PolicySearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactInfoServlet</servlet-name>
		<url-pattern>/ContactInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountDataSearchDeciderServlet</servlet-name>
		<url-pattern>/AccountDataSearchDeciderServlet</url-pattern>
	</servlet-mapping>
	
</web-app>